:root { --line-color: white; }

body {
    background: url("../../img/grid-dark.png");
    background-color: #111;
    color: #eee;
}

.nav-top {
    background-image: linear-gradient(to top, #212121, #252525, #282828, #2c2c2c, #303030);
}

.nav-side {
    background-color: #202020;
}

.categories button {
    background-color: #333;
    color: #eee;
}

.categories button:hover {
    background-color: #444;
}

button {
    background-color: #222;
    color: #eee;
    border: 2px outset #aaa;
}

button:hover {
    background-color: #333;
}

.section-title {
    background-color: #0a0a0a;
}

.block {
    color: initial;
}

.nav-button {
    color: #ddd;
}

.nav-button:hover {
    background-color: #111;
}

.sub-menu {
    background-color: #242424;
}

#coords {
    color: #eee;
}

textarea, input, select {
    background-color: #090909;
    color: #eee;
    border: 1px solid #a0a0a0 !important;
}

input:focus {
    outline: 1px solid white !important;
    border: 1px solid white !important;
}

select:hover, select:focus {
    background-color: #161616;
}

#settings-window {
    background-color: #1a1a1a;
}

#controls {
    background-color: #111;
}

.block {
    filter: brightness(90%);
}

.apply-button {
    background-color: rgb(19, 124, 0);
}

.apply-button:hover {
    background-color: rgb(22, 144, 0);
}

.discard-button {
    background-color: rgb(199, 2, 2);
}

.discard-button:hover {
    background-color: rgb(255, 48, 48);
}

.selected, .selected.text, .selected.variable, .select {
    border: 2px dashed white;
    box-shadow: 0px 0px 15px -2px rgba(255,255,255,0.55);
}

.block + .text {
    color: white
}

.messageBox {
    background-color: #020202;
}

.run-while-run {
    background-color: #044261;
}

.active {
    box-shadow: 0px 0px 50px 5px rgba(90, 233, 65, 0.86) !important;
}