body {
    background: url("../../img/grid-green.png");
    background-color: #006d26;
    color: #eee;
}

.nav-top {
    background-image: linear-gradient(to top, #198b00, #169001, #119503, #0a9a05, #009f07);
}

.nav-side {
    background-image: linear-gradient(0deg, #198b00, #009f07);
}

.categories button {
    background-color: #006607;
    color: #eee;
    border: outset 2px black;
}

.categories button:hover {
    background-color: #005c06 !important;
}

button {
    background-color: #007608;
    color: #eee;
    border: solid 2px rgb(1, 68, 0);
}

button:hover {
    background-color: #006d07;
}

.section-title, .nav-button:hover, .categories button:hover {
    background-color: #006405;
}

.block {
    color: initial;
}

.nav-button {
    color: #ddd;
}

.sub-menu, #controls {
    background-color: #004b1e;
}

#coords {
    color: #eee;
}

textarea, input, select, select:hover, select:focus {
    background-color: #005105;
    color: #eee;
    border: 1px solid #a0a0a0 !important;
}

input:focus {
    outline: 1px solid white !important;
    border: 1px solid white !important;
}

#settings-window {
    background-color: #0c3e19;
}

.block {
    filter: brightness(90%);
}

.apply-button {
    background-color: rgb(19, 124, 0);
}

.apply-button:hover {
    background-color: rgb(22, 144, 0);
}

.discard-button {
    background-color: rgb(199, 2, 2);
}

.discard-button:hover {
    background-color: rgb(255, 48, 48);
}

.messageBox {
    background-color: #0e3e0c;
}

.run-while-run {
    background-color: #4ca059;
}

.block + .text {
    color: white;
}

.active {
    box-shadow: 0px 0px 50px 5px rgba(148, 227, 63, 0.86) !important;
}

.nav-button, .title, .categories, .block-box {
    color: white;
}