.block {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: yellow;
    padding: 10px 20px;
    border: 2px solid black;
    font-size: 22px;
    user-select: none;
    text-rendering: optimizeLegibility;
    cursor: grab;
}
.start, .end {
    border-radius: 50%;
}
.output {
    font-style: italic;
    font-size: 1.2rem;
    padding: 12px 20px;
    white-space: nowrap;
}
.input {
    background-color: rgb(255, 185, 54);
}
.output, .input {
    transform: skewX(-15deg) translateX(6px);
}
.output span, .input span {
    display: block;
    transform: skewX(15deg) scale(1);
}
.condition {
    padding: 15px 17px;
    background-color: rgb(255, 121, 26);
    text-align: center;
    padding: 10px 11px;
    width: 47px;
    height: 47px;
    transform: rotate(-45deg) translateX(-1px) translateY(21px);
    overflow: hidden;
}
.condition span {
    height: 47px;
    width: 47px;
    position: absolute;
    top: 9%; left: 21%;
    display: block;
    transform: rotate(45deg);
}
.condition p {
    margin: 0;
}
.condition p:first-of-type {
    font-weight: bolder;
}
/*
    .condition::before{
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0;
    transform: translate(-14%, -14%) rotateZ(45deg);
    height: 70px;
    width: 70px;
    background-color: rgb(255, 121, 26);
    z-index: -1;
}
*/
.empty {
    padding: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.active {
    box-shadow: 0px 0px 50px 5px rgba(5,138,14,0.86);
}
.selected {
    border: 2px dashed black !important;
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
}
.operation {
    background-color: rgb(225, 176, 71);;
}
.text {
    background-color: transparent;
    box-shadow: none;
    border: 2px solid transparent;
    padding: 0;
    line-height: 90%;
}