* {
    -webkit-user-drag: none;
}
body {
    display: flex;
    justify-content: center;
    user-select: initial;
    font-size: 1rem;
    overflow: auto;
}
.title {
    user-select: none;
}
.container {
    background-color: white;
    width: 65%;
    height: 100%;

    display: grid;
    grid-template-columns: 220px 3fr;
    grid-template-rows: 70px auto;

    position: relative;
}

nav {
    grid-column: 1 / span 2;
}

.block-help {
    position: static;
    cursor: default;
    width: fit-content;
    text-align: center;
    margin-top: 100px;
}

aside {
    font-size: 1.2rem;
    background-color: #f8f8f8;
}
aside li {
    margin-bottom: 10px;
}
main {
    box-sizing: border-box;
    padding: 20px 50px;
    background-color: white;
}
nav {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
}
ul li {
    margin: 10px 0;
}