input[type=text], input[type=number]
{
    width: 110px;
    border: 1px dashed black;
    border-radius: 5px;
    padding: 3px;
}
input[type=text]:focus, input[type=number]:focus {
    border: 1px solid black;
}
input[type=checkbox] {
    width: 15px;
    height: 15px;
}

.button-square input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    display: block;
    height: 32px;
    width: 32px;
    padding: 0;
    border: 2px solid black;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 5px;
    background: url("../img/btn-display-grid.png") center;
    cursor: pointer;
}
#toolbar-grid-snap {
    background: url("../img/btn-grid-snap.png") center; 
}
#toolbar-display-texts {
    background: url("../img/btn-display-text.png") center; 
}
input[type=checkbox]:checked {
    transform: scale(0.95);
    border: 3px solid blue;
}
.button-square img {
    height: 32px !important;
    width: 32px !important;
}

textarea {
    resize: vertical;
    min-height: 62px;
    margin-bottom: 5px;
}

.condition-section {
    display: flex;
}
.condition-section input {
    width: 75px;
}
.condition-section-var {
    display: flex;
    justify-content: space-around;
}
#add-condition-button {
    width: 100%;
    padding: 3px 0;
}
/*input[type=checkbox] {
    border: 2px solid black;
    cursor: pointer;
}
input[type=checkbox]:checked {
    background-color: rgb(47, 215, 47);
}
input[type=checkbox]:checked::before {
    content: '';
    background-color: white;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}*/