body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: monospace;
    overflow: hidden;
    user-select: none;
    background: url("../img/grid.png");
}
.cursor {
    position: absolute;
    height: 0;
    width: 0;
}
.select {
    display: block;
    position: absolute;
    top: 0; left: 0;
    border: 2px dashed black;
}
#center {
    position: absolute;
    top: 0;
    left: 0;
}
#workspace-cursor {
    position: absolute;
}
#coords {
    position: absolute;
    top: 55px;
    right: 5px;
    color: #555;
}