body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: monospace;
    overflow: hidden;
}
.block {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: yellow;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.4rem;
    cursor: pointer;
    user-select: none;
}