@font-face {
    font-family: 'bebas-neue';
    src: url('../fonts/BebasNeue-Regular.ttf');
}
.nav-side {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 54px; left:0;
    width: 220px;
    height: 100%;
    user-select: none;
    z-index: 10;
    background-color: #ccc;
}
.block-box-space {
    height: 230px;
}
.block-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;
    padding: 5px;
    position: absolute;
    top: 60px;
    width: 210px;
}
.section-title {
    background-color: #aaa;
    width: 100%;
    padding-left: 5px;
    box-sizing: border-box;
}
.title {
    margin-left: 5px;
    margin-top: 4px;
    font-size: 36px;
}
.title-letter:nth-child(2) { font-size: 32px; }
.title-letter:nth-child(3) { font-size: 30px; }
.title-letter:nth-child(4) { font-size: 28px; }
.title-letter:nth-child(5) { font-size: 26px; }
.title-letter:nth-child(6) { font-size: 24px; }
#properties {
    font-size: 12pt;
    padding: 5px;
    overflow-y: auto;
    margin-bottom: 115px;
    overflow-x: hidden;
    max-height: 47.5vh;
}
#controls {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 250px;
}
button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background-color: #e6e6e6;
    color: #111;
    padding: 6px 0;
    border-radius: 8px;
    transition: 0.12s;
}
button:hover {
    cursor: pointer;
    background-color: #eee;
    letter-spacing: 2px;
}
button:disabled {
    background-color: #aaa;
    letter-spacing: 0;
    cursor: default;
}
select {
    background-color: white;
    border: black dashed 1px;
    border-radius: 5px;
    font-size: 13pt;
}
select:hover {
    background-color: #dddddd;
}
select:focus {
    background-color: #eeeeee;
}
.run-box {
    position: absolute;
    padding: 0 10px;
    bottom: 55px;
}
#run-button
{
    width: 200px;
    height: 40px;
}
#controls {
    position: absolute;
    display: none;
    top: 54px;
    right: 35px;
    text-align: justify;
    background-color: #dedede;
    padding: 15px;
    border-radius: 5px;
    z-index: 10;
}
h1 {
    margin: 0;
}
.exit {
    position: absolute;
    top: 11px;
    right: 15px;
    cursor: pointer;
}
label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
#nav-top {
    display: flex;
    position: absolute;
    width: 100%;
    background-image: linear-gradient(to bottom, #dcdcdc, #d4d4d4, #cccccc, #c4c4c4, #bcbcbc);
    align-items: center;
    z-index: 10;
    font-family: 'bebas-neue', sans-serif;
}
#nav-top img {
    width: 48px;
    height: 48px;
}
.nav-button {
    position: relative;
    font-size: 32px;
    color: #333;
    height: 100%;
    line-height: 170%;
    padding: 0 10px;
    font-variant: small-caps;
}
.nav-button:first-of-type {
    margin-left: 70px;
}
.nav-button:hover {
    background-color: #aaa;
    cursor: pointer;
}
.nav-button:hover .sub-menu {
    display: block;
}
#nav-help-button:hover {
    cursor: help !important;
}
.sub-menu {
    display: none;
    position: absolute;
    padding: 0;
    background-color: #ddd;
    top: 34px; left: -1px;
    font-size: 20px;
    font-family: monospace;
    font-variant: normal;
    padding: 3px 0;
}
.sub-menu:hover {
    display: block;
}
.sub-menu li {
    line-height: 155%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    background-color: inherit;
    min-height: 30px;
    min-width: 300px;
}
.sub-menu li:hover {
    filter: brightness(93%);
}
.li-info {
    font-size: 16px;
    font-style: italic;
}
.li-info:hover {
    filter: none !important;
    cursor: default;
}
.shortcut-info {
    margin-right: 8px;
    font-size: 0.8em;
}
.nav-top-side-buttons {
    position: absolute;
    display: flex;
    right: 5px;
}
.categories {
    display: flex;
}
.categories button {
    border-radius: initial;
    background-color: #bbb;
    width: 33.3%;
    border-left: none;
}
.categories button:hover {
    letter-spacing: initial;
    background-color: #cacaca;
}

::-webkit-scrollbar {
    width: 7px; 
}
::-webkit-scrollbar-track {
    background: #eee;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #777;
}